<!--suppress ALL -->
<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only"></span>
          </a>
        </div>
        <div class="title">危险源</div>
      </div>
    </div>
    <div class="page-content">
      <div class="list inline-labels no-hairlines-md detail-expert" style="margin-top:0px;">
        <ul>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">名称</div>
              <div class="item-after">
                易燃易爆
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">类型</div>
              <div class="item-after">
                大类型
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">密级/级别</div>
              <div class="item-after">
                机密/国家
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">危险等级</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">潜在危害</div>
              <div class="item-after">

              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">负责人</div>
              <div class="item-after">
                张春路（13545454545）
                <i class="material-icons icon-right">phone</i>
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">主管部门</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">所在地点</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">基本情况</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">治理措施</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner item-no-border">
              <div class="item-title item-label">周边交通情况</div>
            <!--  <div class="item-after">
                熟练办公软件和组建与维护企业网络。能够规范的完成日常各种专业文档的编写。熟悉windows操作系统，组装计算机和维护，具备企业员工必备的基本的职业素质.拥有计算机等级三级证书、电脑维修工证书、网络管理员证书.
              </div>-->
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner major-text">
              周边交通情况
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style>
  .icon-right {
    margin-left: 0.8em;
    color: #202020;
  }

  .major-text{
    font-size:14px;
    color:#757575;
  }

  .detail-expert ul:last-child{
    border-bottom: 1px solid #e0e0e0;
  }

  .item-no-border:after{
    display: none!important;
  }
</style>
<script>
  return {
    methods: {},
    on: {
      pageInit: function (e, page) {

      },
      pageBeforeRemove() {

      }
    }
  }
</script>
