<!--suppress ALL -->
<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only"></span>
          </a>
        </div>
        <div class="title">应急专家</div>
      </div>
    </div>
    <div class="page-content">
      <div class="list inline-labels no-hairlines-md detail-expert" style="margin-top:0px;">
        <ul>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">专家姓名</div>
              <div class="item-after">
                billJiang
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">专家类型</div>
              <div class="item-after">
                大类型 > 小类型
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">工作单位</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">行政职务</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">性别</div>
              <div class="item-after">
                男
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">办公电话</div>
              <div class="item-after">
                <i class="material-icons icon-right">phone</i>
              </div>
            </div>

          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">移动电话</div>
              <div class="item-after">
                <i class="material-icons icon-right">phone_android</i>
              </div>
            </div>

          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">健康状况</div>
              <div class="item-after">
                健康
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">电子邮箱</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner item-no-border">
              <div class="item-title item-label">专业特长</div>
            <!--  <div class="item-after">
                熟练办公软件和组建与维护企业网络。能够规范的完成日常各种专业文档的编写。熟悉windows操作系统，组装计算机和维护，具备企业员工必备的基本的职业素质.拥有计算机等级三级证书、电脑维修工证书、网络管理员证书.
              </div>-->
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner major-text">
                熟练办公软件和组建与维护企业网络。能够规范的完成日常各种专业文档的编写。熟悉windows操作系统，组装计算机和维护，具备企业员工必备的基本的职业素质.拥有计算机等级三级证书、电脑维修工证书、网络管理员证书.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style>
  .icon-right {
    margin-left: 0.8em;
    color: #202020;
  }

  .major-text{
    font-size:14px;
    color:#757575;
  }

  .detail-expert ul:last-child{
    border-bottom: 1px solid #e0e0e0;
  }

  .item-no-border:after{
    display: none!important;
  }
</style>
<script>
  return {
    methods: {},
    on: {
      pageInit: function (e, page) {

      },
      pageBeforeRemove() {

      }
    }
  }
</script>
