<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only"></span>
          </a>
        </div>
        <div class="title">应急专家</div>
      </div>
    </div>

    <div class="page-content">
      <div>
        <form data-search-container=".search-list" data-search-in=".item-title" class="searchbar searchbar-init">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="请输入专家名称/专业类型关键字"/>
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button">Cancel</span>
          </div>
        </form>
      </div>
      <div class="searchbar-backdrop"></div>
      <div class="list simple-list searchbar-not-found" style="margin-top:0px;">
        <ul>
          <li>
            <a href="#" class="item-link"> 未找到记录</a>
          </li>
        </ul>
      </div>
      <div class="list search-list searchbar-found" style="margin-top:0px;">
        <div class="list-group expert-div data-list">
          <ul>
            <li>
              <a href="/resource/expert/detail/" class="item-link item-content">
                <div class="item-media item-content-icon" style="background-color: #2196f3;">
                  <i class="icon icon-female"></i>
                </div>
                <div class="item-inner item-cell">
                  <div class="item-title item-title-bg">
                    马丽丽
                    <span class="text-normal">(高级工程师)</span>

                  </div>
                  <div class="item-footer item-row item-row-sm">
                    <div class="item-cell text-left"> 专家小类型
                    </div>
                    <div class="item-cell text-right"> 工作单位
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/resource/expert/detail/" class="item-link item-content">
                <div class="item-media item-content-icon" style="background-color: #2196f3;">
                  <i class="icon icon-male"></i>
                </div>
                <div class="item-inner item-cell">
                  <div class="item-title item-title-bg">
                    任学志
                    <span class="text-normal">(高级工程师)</span>

                  </div>
                  <div class="item-footer item-row item-row-sm">
                    <div class="item-cell text-left"> 国家地质研究专家
                    </div>
                    <div class="item-cell text-right"> 国家地质局
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/resource/expert/detail/" class="item-link item-content">
                <div class="item-media item-content-icon" style="background-color: #2196f3;">
                  <i class="icon icon-female"></i>
                </div>
                <div class="item-inner item-cell">
                  <div class="item-title item-title-bg">
                    马丽丽
                    <span class="text-normal">(高级工程师)</span>

                  </div>
                  <div class="item-footer item-row item-row-sm">
                    <div class="item-cell text-left"> 专家小类型
                    </div>
                    <div class="item-cell text-right"> 工作单位
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/resource/expert/detail/" class="item-link item-content">
                <div class="item-media item-content-icon" style="background-color: #2196f3;">
                  <i class="icon icon-male"></i>
                </div>
                <div class="item-inner item-cell">
                  <div class="item-title item-title-bg">
                    任学志
                    <span class="text-normal">(高级工程师)</span>

                  </div>
                  <div class="item-footer item-row item-row-sm">
                    <div class="item-cell text-left"> 国家地质研究专家
                    </div>
                    <div class="item-cell text-right"> 国家地质局
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/resource/expert/detail/" class="item-link item-content">
                <div class="item-media item-content-icon" style="background-color: #2196f3;">
                  <i class="icon icon-female"></i>
                </div>
                <div class="item-inner item-cell">
                  <div class="item-title item-title-bg">
                    马丽丽
                    <span class="text-normal">(高级工程师)</span>

                  </div>
                  <div class="item-footer item-row item-row-sm">
                    <div class="item-cell text-left"> 专家小类型
                    </div>
                    <div class="item-cell text-right"> 工作单位
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/resource/expert/detail/" class="item-link item-content">
                <div class="item-media item-content-icon" style="background-color: #2196f3;">
                  <i class="icon icon-male"></i>
                </div>
                <div class="item-inner item-cell">
                  <div class="item-title item-title-bg">
                    任学志
                    <span class="text-normal">(高级工程师)</span>

                  </div>
                  <div class="item-footer item-row item-row-sm">
                    <div class="item-cell text-left"> 国家地质研究专家
                    </div>
                    <div class="item-cell text-right"> 国家地质局
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
  .expert-div .item-content-icon{
    margin: .5em auto;
    border-radius: 50%;
    color: #ffffff;
    width: 3em;
    height: 3em;
  }
  .expert-div .item-title-bg {
    font-weight: bold;
    font-size: 16px;
  }

  .expert-div .text-normal {
    font-weight: normal;
  }

  .expert-div .icon-female {
    background: url(./img/female.png) no-repeat center;
    background-size: cover;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
  }

  .expert-div .icon-male {
    background: url(./img/male.png) no-repeat center;
    background-size: cover;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    box-sizing: border-box;
  }

  .expert-div .item-row-sm {
    font-size: 16px !important;
    margin-top:0!important;
  }

  .expert-div .text-left {
    text-align: left;
  }

  .expert-div .text-right {
    text-align: right;
    margin-right:8px;
  }
</style>
