<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only"></span>
          </a>
        </div>
        <div class="title">综合查询</div>
      </div>
    </div>

    <div class="page-content res-div">
      <div class="row">
        <div class="col">
          <a class="button res-icon" style="background-color: #66cc33;" href="/resource/expert/">
              <i class="material-icons icon-bg">person</i>
          </a>
          <span class="res-text">应急专家</span>
        </div>
        <div class="col">
          <a class="button res-icon" style="background-color: #ff99cc;" href="/resource/material-equipment/">
            <i class="material-icons icon-bg">airport_shuttle</i>
          </a>
          <span class="res-text">物资装备</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a class="button res-icon" style="background-color: #cc33ff;"  href="/resource/shelter/">
            <i class="material-icons icon-bg">business</i>
          </a>
          <span class="res-text">避难场所</span>
        </div>
        <div class="col">
          <a class="button res-icon" style="background-color: #ff9933;" href="/resource/rescue/">
            <i class="material-icons icon-bg">people</i>
          </a>
          <span class="res-text">救援队伍</span>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <a class="button res-icon" style="background-color: #FF3366;" href="/resource/danger/">
            <i class="material-icons icon-bg">directions_run</i>
          </a>
          <span class="res-text">危险源</span>
        </div>
        <div class="col">
          <a class="button res-icon" style="background-color: #2196f3;" href="/resource/case/">
            <i class="material-icons icon-bg">description</i>
          </a>
          <span class="res-text">典型案例</span>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <a class="button res-icon" style="background-color: #4caf50;">
            <i class="material-icons icon-bg">explicit</i>
          </a>
          <span class="res-text">应急知识</span>
        </div>
        <div class="col">
          <a class="button res-icon" style="background-color: #f44336;">
            <i class="material-icons icon-bg">event_note</i>
          </a>
          <span class="res-text">法律法规</span>
        </div>
      </div>
    </div>
  </div>

</template>
<style>
  .res-div .res-icon {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    color:white;
    text-align: center;
    vertical-align: middle;
    line-height: 5em;
    font-size:16px;
    margin: 0 auto 8px;
  }


  .res-div .row {
    text-align: center;
    margin:1em 3em;
  }

  .res-div .icon-bg{
    font-size:3em;
    vertical-align: middle;
  }

  .res-div .res-text{
    font-size:16px;
    margin-top:1em;
  }
</style>

