<!--suppress ALL -->
<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only"></span>
          </a>
        </div>
        <div class="title">应急物资</div>
      </div>
    </div>
    <div class="page-content">
      <div class="list inline-labels no-hairlines-md detail-expert" style="margin-top:0px;">
        <ul>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">物资名称</div>
              <div class="item-after">
                物资名称（物资规格）
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">物资类型</div>
              <div class="item-after">

              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">物资数量</div>
              <div class="item-after">

              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">有效期</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">负责人</div>
              <div class="item-after">
                张春路（13545454545）
                <i class="material-icons icon-right">phone</i>
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">主管部门</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">存放场所</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">物资描述</div>
              <div class="item-after">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style>
  .icon-right {
    margin-left: 0.8em;
    color: #202020;
  }

  .major-text{
    font-size:14px;
    color:#757575;
  }

  .detail-expert ul:last-child{
    border-bottom: 1px solid #e0e0e0;
  }

  .item-no-border:after{
    display: none!important;
  }
</style>
<script>
  return {
    methods: {},
    on: {
      pageInit: function (e, page) {

      },
      pageBeforeRemove() {

      }
    }
  }
</script>
