<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only"></span>
          </a>
        </div>
        <div class="title">市区防汛应急预案</div>
      </div>
    </div>

    <div class="page-content res-div">
      <div class="row">
        <div class="col">
          <a class="button res-icon" style="background-color: #2196f3;" href="/resource/expert/">
              <i class="material-icons icon-bg">open_with</i>
          </a>
          <span class="res-text">指挥体系</span>
        </div>
        <div class="col">
          <a class="button res-icon" style="background-color: #ff9933;">
            <i class="material-icons icon-bg">av_timer</i>
          </a>
          <span class="res-text">监测预警</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a class="button res-icon" style="background-color: #cc33ff;">
            <i class="material-icons icon-bg">build</i>
          </a>
          <span class="res-text">先期处置</span>
        </div>
        <div class="col">
          <a class="button res-icon" style="background-color: #66cc33;">
            <i class="material-icons icon-bg">notifications_none</i>
          </a>
          <span class="res-text">应急响应</span>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <a class="button res-icon" style="background-color: #ff9933;">
            <i class="material-icons icon-bg">sync</i>
          </a>
          <span class="res-text">资源保障</span>
        </div>
        <div class="col">
          <a class="button res-icon" style="background-color: #f44336;">
            <i class="material-icons icon-bg">people_outline</i>
          </a>
          <span class="res-text">人员通信</span>
        </div>

      </div>
      <div class="row plan-row">
        <div class="col">
          <a class="button button-fill plan-text color-blue">
            <i class="material-icons">library_books</i>
            <span class="res-text">预案文本</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</template>
<style>
  .res-div .res-icon {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    color:white;
    text-align: center;
    vertical-align: middle;
    line-height: 5em;
    font-size:16px;
    margin: 0 auto 8px;
  }


  .res-div .plan-text{
    vertical-align: middle;
    height:5em;
    line-height: 5em;
  }
  .res-div .plan-text i{
    vertical-align: middle;
  }

  .res-div .plan-text .res-text{
    margin-left:8px;
  }

  .res-div .row {
    text-align: center;
    margin:1em 3em;
  }

  .res-div .plan-row{
    text-align: center;
    margin: 2em 5em 1em;
  }


  .res-div .icon-bg{
    font-size:3em;
    vertical-align: middle;
  }

  .res-div .res-text{
    font-size:16px;
    margin-top:1em;
  }
</style>

