<div class="page">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only"></span>
        </a>
      </div>
      <div class="title">事件填报</div>
      <div class="right">
        <a class="link icon-only">
          <i class="icon f7-icons ios-only">check</i>
          <i class="icon material-icons md-only">check</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="data-table">
      <table>
        <tbody>
        <tr>
          <td class="label-cell">事件标题</td>
          <td class="value-cell" colspan="3"><input class="input-cell-content" name="event_title" type="text"
                                                    placeholder="请填写事件标题"/></td>
        </tr>
        <tr>
          <td class="label-cell">事件类型</td>
          <td class="value-cell list" colspan="3">   <ul style="width: 100%;background-color: inherit;">
            <li style="display:inline-block;">
              <a class="item-link smart-select smart-select-init" data-open-in="sheet">
                <select name="mac-windows">
                  <option value="mac" selected></option>
                  <option value="windows">海淀区</option>
                  <option value="windows">西城区</option>
                  <option value="windows">朝阳区</option>
                  <option value="windows">东城区</option>
                  <option value="windows">房山区</option>
                  <option value="windows">昌平区</option>
                  <option value="windows">丰台区</option>
                </select>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title">城管事件</div>
                  </div>
                </div>
              </a>
            </li>
            <li style="display:inline-block;">
              <a class="item-link smart-select smart-select-init" data-open-in="sheet">
                <select name="mac-windows">
                  <!--<option value="mac" selected></option>-->
                  <option value="windows">西三旗</option>
                  <option value="windows">学院路</option>
                  <option value="windows">牡丹园</option>
                  <option value="windows">中关村</option>
                  <option value="windows">牛街</option>
                  <option value="windows">天安门</option>
                  <option value="windows">西单</option>
                </select>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title">乱丢垃圾</div>
                  </div>
                </div>
              </a>
            </li></ul></td>
        </tr>
        <tr>
          <td class="label-cell" rowspan="2">事发地点</td>
          <td class="value-cell list" colspan="3">
            <ul style="width: 100%;background-color: inherit;">
              <li style="display:inline-block;">
                <a class="item-link smart-select smart-select-init" data-open-in="sheet">
                  <select name="mac-windows">
                    <option value="mac" selected></option>
                    <option value="windows">海淀区</option>
                    <option value="windows">西城区</option>
                    <option value="windows">朝阳区</option>
                    <option value="windows">东城区</option>
                    <option value="windows">房山区</option>
                    <option value="windows">昌平区</option>
                    <option value="windows">丰台区</option>
                  </select>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">区县</div>
                    </div>
                  </div>
                </a>
              </li>
              <li style="display:inline-block;">
                <a class="item-link smart-select smart-select-init" data-open-in="sheet">
                  <select name="mac-windows">
                    <!--<option value="mac" selected></option>-->
                    <option value="windows">西三旗</option>
                    <option value="windows">学院路</option>
                    <option value="windows">牡丹园</option>
                    <option value="windows">中关村</option>
                    <option value="windows">牛街</option>
                    <option value="windows">天安门</option>
                    <option value="windows">西单</option>
                  </select>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">街道</div>
                    </div>
                  </div>
                </a>
              </li></ul>
          </td>
        </tr>
        <tr>
          <td class="value-cell" colspan="3"><input class="input-cell-content" name="address" type="text"
                                                    placeholder="请填写详细地址"/></td>
        </tr>
        <tr>
          <td class="label-cell">事件概况</td>
          <td colspan="3" class="value-cell textarea-cell"><textarea class="textarea-cell-text">这里填写事件概况这里填这里填写事件概况这里填这里填写事件概况这里填这里填写事件概况这里填写事件概况这里填写事件概况这里填写事件概况这里填写事件概况</textarea>
          </td>
        </tr>
        <tr>
          <td class="label-50" colspan="2">
            <input class="label-cell-content" type="text" placeholder="填写值班员"/>
          </td>
          <td class="label-50 border-left" colspan="2">
            <input class="label-cell-content" type="text" placeholder="填写签发人"/>
          </td>
        </tr>
        <tr>
          <td class="label-cell">联系电话</td>
          <td class="value-cell" colspan="3"><input class="input-cell-content" type="text" name="telephone"
                                                    placeholder="建议填写手机号码"/></td>
        </tr>
        <tr>
          <td colspan="4" class="textarea-cell">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--<div class="toolbar toolbar-bottom-md">-->
  <!--<div class="toolbar-inner">-->
  <!--<button class="button col button-round button-outline" >伤亡报告<i class="material-icons icon-normal">add</i> </button>-->
  <!--</div>-->
  <!--</div>-->
</div>
