
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only"></span>
          </a>
        </div>
        <div class="title">通讯录</div>
        <div class="right">
            <i class="icon f7-icons ios-only">add</i>
            <i class="icon material-icons md-only">add</i>
        </div>
      </div>
    </div>
    <div class="page-content">
    <div class="toolbar tabbar toolbar-content">
      <div class="toolbar-inner">
        <a href="./" class="tab-link  " data-route-tab-id="tab1">单位</a>
        <a href="tab2/" class="tab-link tab-link-text" data-route-tab-id="tab2">群组</a>
      </div>
    </div>
    <div class="tabs tabs-routable">
      <div class="page-content tab" id="tab1"></div>
      <div class="page-content tab" id="tab2"></div>
    </div>
    </div>
  </div>

