<div class="page">
  <div class="page-content login-screen-content">
    <div class="login-screen-title"><i class="material-icons">cloud_upload</i> <span class="login-title">应急助手</span></div>
    <form>
      <div class="list list-content">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-input-wrap">
                <input class="input-content" type="text" name="username" id="demo-username-1" placeholder="账 号">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-input-wrap">
                <input class="input-content" type="password" name="password" id="demo-password-1" placeholder="密 码">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="login-content control_radio">
        <input type="radio" name="login_button" id="radio_password" checked/><label for="radio_password" class="label-cell-content">记住密码</label>
        <input type="radio" name="login_button" id="radio_login"/><label for="radio_login" class="label-login-content">自动登录</label>
      </div>
      <div class="login-content">
        <button class="button-login">登 陆</button>
        <button class="button-login button-login-text">联系我们</button>
      </div>
    </form>
  </div>
</div>


