<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only"></span>
          </a>
        </div>
        <div class="title">事件呈报</div>
        <div class="right">
          <a class="link icon-only" @click="saveReport">
            <i class="icon material-icons">check</i>
          </a>
        </div>
      </div>
    </div>
    <div class="toolbar toolbar-bottom-md">
      <div class="toolbar-inner">
        <button class="button button-outline sheet-open" data-sheet=".leader-sheet">
          <span class="button-label" id="leader">请选择领导</span>
          <i class="material-icons icon-button">add_circle_outline</i>
        </button>
      </div>
    </div>
    <div class="page-content">
      <div class="data-table">
        <table>
          <tbody>
          <tr>
            <td class="label-cell">信息标题</td>
            <td class="value-cell" colspan="3">社区北墙有人破坏</td>
          </tr>
          <tr>
            <td class="label-cell">报告单位</td>
            <td class="value-cell" colspan="3">潍城区应急办</td>
          </tr>
          <tr>
            <td class="label-50" colspan="2">
              <i class="material-icons cell-icon">person</i>
              <span class="cell-text">值班员姓名</span>
            </td>
            <td class="label-50 border-left" colspan="2">
              <i class="material-icons cell-icon">access_time</i>
              <span class="cell-text">2018/04/21 20:30</span>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="textarea-cell">
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <textarea class="textarea-cell-text" placeholder="请在这里进行事件描述+先期处置措施"></textarea>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="label-cell">拟办意见</td>
            <td class="value-cell value-cell-flow" colspan="3">
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <textarea class="textarea-cell-text" style="min-height:6em;" placeholder="请在这里写拟办意见"></textarea>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="sheet-modal leader-sheet">
      <div class="toolbar">
        <div class="toolbar-inner">
          <div class="left"></div>
          <div class="title">相关领导</div>
          <div class="right"><a href="#" class="link sheet-close"><i class="material-icons">cancel</i> </a></div>
        </div>
      </div>
      <div class="sheet-modal-inner">
        <div class="page-content">
          <div class="list" style="margin:0">
            <ul>
              <li>
                <label class="item-checkbox item-content">
                  <input type="checkbox" name="dept-checkbox" value="胡秘书长" checked="checked"/>
                  <i class="icon icon-checkbox"></i>
                  <div class="item-inner">
                    <div class="item-title">胡秘书长</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="item-checkbox item-content">
                  <input type="checkbox" name="dept-checkbox" value="孙卫东"/>
                  <i class="icon icon-checkbox"></i>
                  <div class="item-inner">
                    <div class="item-title">孙卫东</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="item-checkbox item-content">
                  <input type="checkbox" name="dept-checkbox" value="领导姓名"/>
                  <i class="icon icon-checkbox"></i>
                  <div class="item-inner">
                    <div class="item-title">领导姓名</div>
                  </div>
                </label>
              </li>
            </ul>
          </div>
          <div class="block row">
            <button class="col button button-fill color-red link sheet-close">取消</button>
            <button class="col button button-fill color-blue" @click="selectLeader">确定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>s
<script>
  return {
    methods: {
      saveReport: function () {
        var app = this.$app;
        app.dialog.confirm('是否保存？', function () {
          app.dialog.alert("保存成功");
        });
      },
      selectLeader: function () {
        var $ = this.$;
        var app = this.$app;
        var arr = [];
        $("[name='dept-checkbox']:checked").each(function (index, item) {
          var itemVal = $(item).val();
          arr.push(itemVal);
        })
        if(arr.length>0)
          $("#leader").text(arr.join());
        else
          $("#leader").text("请选择领导");
        app.sheet.close(".leader-sheet");
      }
    }
  }
</script>
