<div class="page">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only"></span>
        </a>
      </div>
      <div class="title">通讯录</div>

      <div class="right">
        <a class="link icon-only" href="/contact/add/">
          <i class="icon f7-icons ios-only">add</i>
          <i class="icon material-icons text-blue md-only">add</i>
        </a>
      </div>

    </div>
  </div>
  <div class="toolbar tabbar">
    <div class="toolbar-inner">
      <a href="#tab-dept" class="tab-link tab-link-active">单位</a>
      <a href="#tab-group" class="tab-link">群组</a>
    </div>
  </div>
  <div class="tabs">
    <div id="tab-dept" class="page-content tab tab-active">
      <div>
        <form data-search-container=".search-list" data-search-in=".item-title" class="searchbar searchbar-init">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Search"/>
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button">Cancel</span>
          </div>
        </form>
      </div>
      <div class="searchbar-backdrop"></div>
      <div class="list simple-list searchbar-not-found" style="margin-top:0px;">
        <ul>
          <li>
            <a href="/contact/view/" class="item-link"> 未找到记录</a>
          </li>
        </ul>
      </div>
      <div class="list search-list searchbar-found" style="margin-top:0px;">
        <div class="list-group">
          <ul>
            <li class="list-group-title">
              组织机构A
            </li>
            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Aaron</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Alex</div>
                    <div class="item-after">经理</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Abbie</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Adam</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">
              组织机构B
            </li>
            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Bob</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Billjiang</div>
                    <div class="item-after">经理</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Boxes</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Ben</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">
              组织机构C
            </li>
            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Caron</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">CXAex</div>
                    <div class="item-after">经理</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">CAB</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">CFDFS</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div id="tab-group" class="page-content tab">
      <div>
        <form data-search-container=".search-list" data-search-in=".item-title" class="searchbar searchbar-init">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Search"/>
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button">Cancel</span>
          </div>
        </form>
      </div>
      <div class="searchbar-backdrop"></div>
      <div class="list simple-list searchbar-not-found" style="margin-top:0px;">
        <ul>
          <li>
            <a href="/contact/view/" class="item-link"> 未找到记录</a></li>
        </ul>
      </div>
      <div class="list search-list searchbar-found" style="margin-top:0px;">
        <div class="list-group">
          <ul>
            <li class="list-group-title">
              群组A
            </li>
            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Aaron</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Alex</div>
                    <div class="item-after">经理</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Abbie</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Adam</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">
              群组B
            </li>
            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Bob</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Billjiang</div>
                    <div class="item-after">经理</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Boxes</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Ben</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">
              群组C
            </li>
            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">Caron</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">CXAex</div>
                    <div class="item-after">经理</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">CAB</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/contact/view/" class="item-link">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-media">
                      <i class="material-icons text-blue">person</i>
                    </div>
                    <div class="item-title">CFDFS</div>
                    <div class="item-after">日常职务</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

