<!--suppress ALL -->
<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only"></span>
          </a>
        </div>
        <div class="title">联系人</div>
      </div>
    </div>
    <div class="page-content">
      <div class="list inline-labels no-hairlines-md">
        <ul>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">人员姓名</div>
              <div class="item-after">
                billJiang
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">工作单位</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">日常职务</div>
              <div class="item-after">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">办公电话</div>
              <div class="item-after">
                <i class="material-icons icon-right">phone</i>
              </div>
            </div>

          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">常用手机</div>
              <div class="item-after">
                <span>138XXXXXXXX</span>
                <i class="material-icons icon-right">phone</i>
                <i class="material-icons icon-right">email</i>
              </div>
            </div>

          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">备用手机</div>
              <div class="item-after">
                <i class="material-icons icon-right">phone</i>
                <i class="material-icons icon-right">email</i>
              </div>
            </div>

          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">性别</div>
              <div class="item-after">
                男
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">所属群组</div>
              <div class="item-after">
                群组1
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title item-label">备注</div>
              <div class="item-after">
                备注test
              </div>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style>
  .icon-right {
    margin-left: 0.8em;
    color: #202020;
  }
</style>
<script>
  return {
    methods: {},
    on: {
      pageInit: function (e, page) {

      },
      pageBeforeRemove() {

      }
    }
  }
</script>
