<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="title">相关批示</div>
        <div class="right">
          <a href="#" class="link back"><i class="material-icons">cancel</i> </a>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="list media-list" style="margin-top:0!important;">
        <ul>
          <li>
            <a href="#" class="item-link item-content">
              <div style="margin-right:1em;">
                <div><img src="http://lorempixel.com/160/160/people/1" width="80"/></div>
                <div class="item-text-new" style="text-align: center;">胡晓坤</div>
              </div>
              <div class="item-inner">
                <div>
                  <div class="item-text-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis
                    tellus ut
                    turpis condimentum, ut dignissim lacus tincidunt.
                  </div>
                </div>
                <div class="item-time">2018/12/20 14:35</div>
              </div>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#" class="item-link item-content">
              <div style="margin-right:1em;">
                <div><img src="http://lorempixel.com/160/160/people/2" width="80"/></div>
                <div class="item-text-new" style="text-align: center;">于文凯</div>
              </div>
              <div class="item-inner">
                <div>
                  <div class="item-text-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis
                    tellus ut
                    turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit
                    amet, pharetra sodales eros.
                  </div>
                </div>
                <div class="item-time">2018/12/20 14:35</div>
              </div>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#" class="item-link item-content">
              <div style="margin-right:1em;">
                <div><img src="http://lorempixel.com/160/160/people/2" width="80"/></div>
                <div class="item-text-new" style="text-align: center;">宋军</div>
              </div>
              <div class="item-inner">
                <div>
                  <div class="item-text-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis
                    tellus ut
                    turpis condimentum, ut dignissim lacus tincidunt.
                  </div>
                </div>
                <div class="item-time">2018/12/20 14:35</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style>
  .item-text-new {
    font-size: 14px;
    color: #595959;
    line-height: 20px;
  }

  .item-time {
    text-align: right;
    margin-top: 0.3em;
    font-size: 14px;
    color: #747474;
    line-height: 20px;
  }
</style>
